In [73]:
import pandas as pd
import numpy as np

data = pd.read_excel('(2006_2022)순위_서울시 466개 법정동 주택침수건수 (1).xlsx')
data.head()

,순위,시군구,읍면동,침수주택 건수(건),Unnamed: 4,Unnamed: 5
0,1,관악구,신림동,7665,NaN,*2006년~2022년 서울 466개 읍면동 별 \n침수주택신고 건수를 합산해 순위...
1,2,영등포구,대림동,3447,NaN,NaN
2,3,동작구,사당동,3227,NaN,NaN
3,4,양천구,신월동,2400,NaN,NaN
4,5,강서구,화곡동,2322,NaN,NaN

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순위          312 non-null    int64
 1   시군구         312 non-null    object
 2   읍면동         312 non-null    object
 3   침수주택 건수(건)  312 non-null    int64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  1 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 14.8+ KB

In [75]:
#필요없는 칼럼 지우기
data = data.drop(['순위', 'Unnamed: 4', 'Unnamed: 5'], axis=1)
data.head()

    시군구  읍면동  침수주택 건수(건)
0   관악구  신림동        7665
1  영등포구  대림동        3447
2   동작구  사당동        3227
3   양천구  신월동        2400
4   강서구  화곡동        2322

In [77]:
def flooding(locate):
    data = pd.read_excel('(2006_2022)순위_서울시 466개 법정동 주택침수건수 (1).xlsx')
    data = data.drop(['순위', 'Unnamed: 4', 'Unnamed: 5'], axis=1)
    locate1 = locate
    data=data[data['시군구']==locate1]
    sum_data=data['침수주택 건수(건)'].sum()
    return sum_data
print(flooding('강남구'))

3310